<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>

<body>
  
<!-- Vue.js V3 -->  
<script src="https://unpkg.com/vue@next"></script>

<!-- development version, includes helpful console warnings
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.js"></script>  -->
<!-- production version, optimized for size and speed 
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

<!-- BUEFY 0.9.6 FULL BUNDLE -->
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

<div id="two-way-binding">
  <p>{{ message }}</p>
  <input v-model="message" />
</div>
<script>
  const TwoWayBinding = {
    data() {
      return {
        message: 'Two Way Binding!'
      }
    }
  }
  Vue.createApp(TwoWayBinding).mount('#two-way-binding')
</script>  

<div id="B-Notif">
  <template>
    <section>
      <b-button
          label="Toggle"
          class="block"
          @click="isActive = !isActive" />
      <b-notification v-model="isActive" aria-close-label="Close notification">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id hendrerit imperdiet, elit sapien laoreet elit
      </b-notification>
    </section>
  </template>
</div>
<script>
  var BNotif = new Vue({
    el: '#B-Notif',
    methods: {
      data: function() {
          return {
              isActive: true
          }
      }
    }
  })
  
    Vue.createApp(BNotif).mount('#B-Notif')
</script>
  
</body>
</html>